/cocos2d/**/*.idb
/cocos2d/**/*.pdb
/cocos2d/**/*.log
/cocos2d/**/*.tlog
/cocos2d/**/*.obj
/cocos2d/**/*.pdb
/proj.win32/Debug.win32/
/bin
*.exe

libs/
bin/
obj/
assets/
gen/
out/
.classpath
.project
.cproject
local.properties
